
<div class="spacer">
</div>

<div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<p id="my_profile"> My Profile </p>
			<p id="my_name"> <%= current_user.email %></p>
		</div>
	<div class="col-md-2"></div>
</div>

<hr>
<h2>Projects you are the owner of:</h2>
	<div class="row" id="my_projects">
		<% if @projects_owned.any? %>
			<div id="owner_projects_container">
				<% @projects_owned.each do |project| %>
					<div id="a_project">
						<p id="proj_name"><%= project.name %> </p>
						<p id="proj_descrip"><%= project.description %> </p>
						<p id="proj_start">Start: <%=project.start_date.strftime("%b / %d / %Y")  %></p>
						<p id="proj_end">End: <%=project.end_date.strftime("%b / %d / %Y")  %></p>
						<p id="proj_goal">Goal: $<%=project.goal %></p>
						<p id="proj_active">Active ?: <%=project.active%></p>
					</div>
				<% end %>
			</div>
		<% else %>
			<p>No Projects for <%= @current_user.email%></p>
		<% end %>
	</div>

<hr>
<h2>Projects you are backing: </h2>
	<div class="row" id="my_projects">
		<% if @current_user.backed_projects.any? %>
			<% @current_user.backed_projects.uniq.each do |proj| %>
				<div id="a_project">
					<p id="proj_name"><%= proj.name %> </p>
					<p id="proj_descrip"><%= proj.description %> </p>
					<p id="proj_start">Start: <%=proj.start_date.strftime("%b / %d / %Y")  %></p>
					<p id="proj_end">End: <%=proj.end_date.strftime("%b / %d / %Y")  %></p>
					<p id="proj_goal">Goal: $<%=proj.goal %></p>
					<p id="proj_active">Active ?: <%=proj.active%></p>
				</div>	
			<% end %>
		<% else %>
			<p>No Backed Projects for <%= @current_user.email%></p>
		<% end %>
	</div>
