
<div class="spacer">
</div>


<h1><%= current_user.email %></h1>

<h2>Projects you are the owner of:</h2>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<p id="my_profile"> My Profile </p>
		<p id="my_name"> User Name </p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row" id="my_projects">

<% if @projects_owned.any? %>
<div id="owner_projects_container"
		<% @projects_owned.each do |project| %>
		<div id="a_project">
			<p id="proj_name"><%= project.name %> </p>
			<p id="proj_descrip"><%= project.description %> </p>
			<p id="proj_start"><%=project.start_date %></p>
			<p id="proj_end"><%=project.end_date %></p>
			<p id="proj_goal"><%=project.goal %></p>
			<p id="proj_active"><%=project.active%></p>
		</div>
		<% end %>
</div>
<% else %>
	<p>No Projects for <%= @current_user.email%></p>
<% end %>
</div>


<h2>Projects you are backing: </h2>

<% if @current_user.backed_projects.any? %>
	<% @current_user.backed_projects.uniq.each do |proj| %>
		<div id="backed_projects">
			<p id="proj_name"><%= proj.name %> </p>
			<p id="proj_descrip"><%= proj.description %> </p>
			<p id="proj_start"><%=proj.start_date %></p>
			<p id="proj_end"><%=proj.end_date %></p>
			<p id="proj_goal"><%=proj.goal %></p>
			<p id="proj_active"><%=proj.active%></p>
			<hr>
			<p>  </p>
		</div>	
	<% end %>
<% else %>
	<p>No Backed Projects for <%= @current_user.email%></p>
<% end %>
