
<div class="spacer">
</div>

<div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<p id="my_profile"> My Profile </p>
			<p id="my_name"> Name: <%= current_user.name %></p>
		</div>
	<div class="col-md-2"></div>
</div>

<hr>


<div class="row">

	<div class="col-md-8">
	<h2 id="owner_of">My Projects</h2>
			<% if @projects_owned.any? %>
				<div id="owner_projects_container">
					<% @projects_owned.each do |project| %>
						<div class="a_project">
							<img class="proj_placeholder_img" src="http://www.placehold.it/800x800">
							<p class="proj_name"><%= project.name %> </p>
							<p class="proj_descrip"><%= project.description %> </p>
							<p class="proj_start">Start Date: <%=project.start_date.strftime("%b %d, %Y")  %></p>
							<p class="proj_end">End Date: <%=project.end_date.strftime("%b / %d / %Y")  %></p>
							<p class="proj_active">Active: <%=project.active.to_s.capitalize! %></p>
							<p class="proj_goal">Goal: $<%=project.goal %></p>
							
						</div>
					<% end %>
				</div>
			<% else %>
				<p>No Projects for <%= @current_user.email%></p>
			<% end %>
	</div>
	<div class="col-md-2">
	</div>
</div>
<hr>

<div class="row" id="my_projects">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<h2 id="project_backed">Projects Backed: </h2>

		<% if @current_user.backed_projects.any? %>
			<% @current_user.backed_projects.uniq.each do |proj| %>

				<div class="a_project">
					<img class="proj_placeholder_img" src="http://www.placehold.it/800x800">
					<p class="proj_name"><%= proj.name %> </p>
					<p class="proj_descrip"><%= proj.description %> </p>
					<p class="proj_start">Start: <%=proj.start_date.strftime("%b / %d / %Y")  %></p>
					<p class="proj_end">End: <%=proj.end_date.strftime("%b %d, %Y")  %></p>
					<p class="proj_active">Active : <%=proj.active.to_s.capitalize! %></p>
					<p class="proj_goal">Goal: $<%=proj.goal %></p>

				</div>	
			<% end %>
		<% else %>
			<p>No Backed Projects for <%= @current_user.email%></p>
		<% end %>
	</div>
	</div>
