<div class="form">
  <%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
      <div id="error">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

      </div>
    <% end %>

    <div class="labels-and-inputs">
      <p class="label"><%= f.label :name %></p>
      <p class="input" id="name"><%= f.text_field :name %></p>

      <p class="label"><%= f.label :start_date %></p>
      <p class="input" id="start_date"><%= f.date_select :start_date %></p>
      
      <p class="label"><%= f.label :end_date %></p>
      <p class="input" id="end_date"><%= f.date_select :end_date %></p>

      <p class="label"><%= f.label :goal %></p>
      <p class="input" id="goal"><%= f.number_field :goal %></p>

      <p class="label"><%= f.label :description %></p>
      <p class="input" id="description"><%= f.text_area :description %></p>

      <p class="label"><%= f.label :active %></p>
      <p class="input" id="active"><%= f.select :active, [['Active',true],['Inactive',false]] %></p>
    </div>

    Rewards:
      <ul>
        <%= f.fields_for :rewards do |reward| %>
          <%= render 'reward_fields', :f => reward %>
        <% end %>
      </ul>
    <%= link_to_add_association 'Add Reward', f, :rewards, 'data-association-insertion-method' => 'append' %>

    <div id="rewards">

      Rewards:
        <ul>
          <%= f.fields_for :rewards do |ff| %>
            <%= render partial: 'reward_fields', locals: {:f => ff} %>
          <% end %>
        </ul>

       <div class="links">
         <%= link_to_add_association 'Add Reward', f, :rewards %>
       </div>
    </div>

    

	  <div class="submit">
      <%= f.submit %>
  	</div>
  <% end %>
</div>