
<% @projects.each do |project| %>

	<p>Name: <%= project.name %> </p>
	<p>Summary: <%= project.description %></p>
	<p>Start Date: <%= project.start_date %></p>
	<p>End Date: <%= project.end_date %></p>
	<p>Active: <%= project.active %></p>
	<p>Goal: <%= project.goal %></p>
	<p>Owner: <%= project.user.email %></p>

<% end %>