<hr>
<h1>Showing details for <%= @project.name %></h1>
<hr>
<%= link_to "Back to home", projects_path %> 

<p>Name: <%= @project.name %> </p>
<p>Summary: <%= @project.description %></p>
<p>Start Date: <%= @project.start_date %></p>
<p>End Date: <%= @project.end_date %></p>
<p>Active: <%= @project.active %></p>
<p>Goal: <%= @project.goal %></p>
<p>Owner: <%= @project.user.email %></p>

<p id="amount-raised"> The amount raised: $<%= @project.amount_raised %> </p>


<hr>
<h2> Rewards </h2>

<% if @project.rewards.any? %>

	<% @project.rewards.each do |reward| %>

	<div>
		<p>Reward Title: <%= reward.title %></p>
		<p>Reward Price: <%= reward.price %></p>
		<p>Reward Description: <%= reward.description %></p>
		<p><%= link_to "Make a pledge to earn this reward", new_reward_pledge_path(reward) %></p>
	</div>
	<% end %>

<% else %>

<p> No rewards have been setup for this project!.

<% end %>

<hr>
<h2> Pledges for this project </h2>

<p>Pledged Amount:
	<%= @current_user.pledged_amount(@project) %> 
</p>





